{# templates/actor/show.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/actor.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}

{% endblock %}

{% block body %}
<div id="actor" >


    <div class ="heading" >
        <div class="returnbutton button1"> <a href = "/actor/showall" >return </a> </div>
        <div class="returnbutton">  <a   href = "/actor/delete/{{actor.actorid}}" >delete </a> </div>
        <div class="returnbutton">  <a   href = "/actor/edit/{{actor.actorid}}" >edit </a> </div>
        <div class="returnbutton">  <a   href = "/actor/editroles/{{actor.actorid}}" >edit roles </a> </div>
        <div class="returnbutton"><a  href = "/actor/new" >Add New actor </a> </div>
    </div>
    <div class="actor">
        <div class="row">
            <div class="inputpair" >
                <div class="label">ID </div>
                <div class= "field"> {{actor.actorid}}</div>
            </div>
        </div>
        <div class="row">
            <div class="inputpair" >
                <div class="label">name</div>
                <div class= "field"> {{actor.name}} </div>
            </div>
            <div class="inputpair" >
                <div class="label"> specifier </div>
                <div class= "field"> {{actor.specifier}} </div>
            </div>
        </div>
           <div class="row">
                <div class="inputpair" >
                    <div class="label">birthdate</div>
                    {% if actor.birthdate is not null  %}
                    <div class= "field"> {{actor.Birthdate}} </div>
                    {% else %}
                       <div class= "field"> "Null"" </div>
                    {% endif %}
                </div>
                <div class="inputpair" >
                    <div class="label"> deathdate</div>
                    <div class= "field"> {{actor.deathdate}} </div>
                </div>
            </div>
        <div class="row">

            <div class="inputpair" >
                <div class="label"> text </div>
                <div class= "field"> {{actor.text}} </div>
            </div>
        </div>
        <div class="subheading" >
            <div class="title"> roles </div>
        </div>
                 {% dump roles %}
        <div class="roleTable" >
            <div class="body">
                {% for pid, role in roles %}
                <div class="row">
                    <div class="cell">
                        <div class="subheading">
                        </div>
                    </div>
                    <div class="cell"> {{role.role.role}}</div>
                    <div class="cell">{{role.role.name}} </div>
                    {% if role.glimpse is defined %}
                     <div class="cell" > {{role.glimpse.type}} </div>
                    <div class="cell" > {{role.glimpse.date}} </div>
                     <div class="cell" > Age: {{calAge(actor.Birthdate,role.glimpse.date)}} </div>
                    {% dump role.glimpse %}
                    {% dump role.role %}

                 {#   {% set formatedtext = roletemplates.getRoleFormat(role.glimpse,role.role, roles) %}
                    <div class="cell" >{{formatedtext}}</div>#}
                     {% endif %}


               {# <div class="cell">{{role.predicates}} </div> #}
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}




