{# templates/actor/showall.html.twig #}




{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/actor.css') }}" rel="stylesheet" />

{% endblock %}

{% block js %}
{{ parent() }}

{% endblock %}

{% block body %}
<div id="actor" >

      <div class="subheading row">
      <div class='returnbutton'>
                <a  href = "/source/showall" >Sources</a>
            </div>
    <div class='returnbutton'>
                <a  href = "/glimpse/showall" >Glimspses</a>
            </div>

                 <div class='returnbutton button1 '>
                <a  href = "/actor/new" >New Actor</a>
            </div>
            </div>




    <div class="heading">
      <div class="title">Actors</div>
            </div>


     <div class= "actorlist">
    {% for actor in actors %}
    <div class= "actor">
        <div class="row ">

             <div class="returnbutton col1">   <a   href = "/actor/show/{{actor.actorid}}" >view </a> </div>
            <div class= "col2">{{actor.actorId}}</div>
            <div class= "col3"> {{actor.name}}</div>
            <div class= "col4"> {{actor.specifier}}</div>
        </div>
        </div>


    {% endfor %}
       </div>

</div>


{% endblock %}


