{# templates/actor/showall.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/actor.css') }}" rel="stylesheet" />

{% endblock %}

{% block js %}
{{ parent() }}

{% endblock %}

{% block body %}
<div id="actor" >

    <div class="heading">
      <div class="title">Actors</div>
         <div class='returnbutton  '>
                     <a  href = "/actor/new" >New Actor</a>
                 </div>
      </div>
<form  action="/actor/setfilter">
     <div class="filterrow">
      <div class="label"> Filter</div>
      <input type="text" name="filter" value="{{filter}}" >
      <input type="submit" value="action" >
       <div class="clearbutton">   <a   href = "/actor/clearfilter" >Clear</a> </div>
      </div>
      </form>
     <div class= "actorlist">
    {% for actor in actors %}
    <div class= "actor">
        <div class="row ">
             <div class="returnbutton col1">   <a   href = "/actor/showone/{{actor.actorid}}" >view </a> </div>
            <div class= "col2">{{actor.actorId}}</div>
            <div class= "col3"> {{actor.getLabel}}</div>
            <div class= "col4"> {{actor.specifier}}</div>
        </div>
        </div>
    {% endfor %}
       </div>
</div>
{% endblock %}


